{% extends "templates/web.html" %}

{% block title %}Latest News and Updates on POS Systems | GetPOS{% endblock %}

{% block meta %}

{% endblock %}

{% block content %}

<div class="blog-list-content">
	<div class="website-list" data-doctype="Blog Post" data-txt="[notxt]">
		<main class="antialiased text-page bg-white dark:text-slate-300 tracking-tight dark:bg-dark single-news news-listing-page blog news-detail-page events-padding">
			<section class="mx-auto lg:max-w-7xl max-lg:max-w-7xl max-sm:w-full">
				<header class="mb-8 md:mb-16 justify-between items-center mx-auto flex single-news-header">
					<h1 class="inter text-left">News</h1>
		      <p class="inter"><b style="font-weight:600;">GETPOS -</b> A Hub of Creative Minds, Tech-Freaks, Sales&nbsp;<br>Consultants, Branding Experts, and above all, the Perfect&nbsp;<br>Escalators to take your business to new heights.</p>
				</header>
				<ul class="grid gap-4 grid-cols-3">
					<li id="mb-72">
						<article class="max-w-md mx-auto md:max-w-none grid news-list-block md:grid-cols-1">
							<div>
								<a class="relative block group" href="/news/getpos-takes-center-stage-at-captech-2024">
									<div class="relative">
										<picture>
											<img src="/assets/getpos/images/captech_news_list.webp" alt="GETPOS Takes Center Stage at CapTech 2024" class="news-list-img" style="border: .5px solid #5e5b5b26;">
										</picture>
									</div>
								</a>
								<h3 class="text-base sm:text-base font-bold leading-tight font-heading px-3 py-3">
									<a class="hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200 inter" href="/news/getpos-takes-center-stage-at-captech-2024">
										GETPOS Takes Center Stage at CapTech 2024
									</a>
								</h3>
							</div>
							<div class="mt-0 px-3 pb-3">
								<header>
									<div class="mb-1">
										<div class="flex gap-2 items-center justify-between">
											<div class="flex items-center gap-2">
											
											  </div>
											<div>
												<h6 class="inter new-author-date">November 26, 2024</h6>
											</div>
										</div>
									</div>
								</header>
							</div>
						</article>
					</li>
				</ul>
			</section>
		</main>
	</div>
</div>

{% endblock %}

{% block script %}
<script>
    document.body.classList.add('blog-high');
</script>

{% endblock %}